* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
}

header,
main,
aside,
.container,
.five-day,
.forecasts,
.primary,
.search-div,
.five-title,
#city-history {
  display: flex;
}

.container {
  border: 5px solid black;
  flex-direction: column;
  padding: 5px;
  height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}

.header {
  justify-content: center;
  width: 100%;
  height: 11%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(10, 10, 64), rgb(17, 17, 216));
  color: white;
}

.primary {
  height: 100%;
}

aside {
  flex-direction: column;
  width: 27%;
  padding: 5px 10px;
}

.search-div {
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  padding-bottom: 12px;
}

#search-input {
  height: 2.4em;
  padding: 7px;
}

#search-btn {
  height: 2em;
  background-color: rgb(16, 16, 193);
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 8px;
}

#separator {
  border: none;
  height: 3px;
  background-color: grey;
}

#city-history {
  margin-top: 0.5rem;
  justify-content: center;
  flex-direction: column;
}

#city-history button {
  margin-bottom: 10px;
  height: 2em;
  background-color: gray;
  border-radius: 5px;
  color: white;
}

.forecasts {
  flex-direction: column;
  width: 95%;
  /* border-left: 2px solid black; */
  margin-top: 10px;
  margin-bottom: 7px;
}

.main-forecast {
  height: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
}

.five-day {
  height: 60%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
}

.forecast-5card {
  height: 80%;
  width: 17%;
  background-color: rgb(18, 18, 103);
}

.five-title {
  padding-left: 10px;
  justify-content: flex-start;
  align-items: flex-end;
  height: 10%;
}
