* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

header,
main,
aside,
.container,
.five-day,
.forecasts,
.primary {
  display: flex;
}

.container {
  width: 80%;
  border: 5px solid black;
  flex-direction: column;
}

.header {
  border: 2px solid blue;
  justify-content: center;
  width: 100%;
}

aside {
  border: 2px solid red;
  flex-direction: column;
  height: 500px;
}

.forecasts {
  flex-direction: column;
  width: 100%;
}

.main-forecast {
  border: 2px solid green;
  height: 50%;
}

.five-day {
  border: 2px solid orange;
  height: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.forecast-5card {
  border: 1px solid black;
  height: 90%;
  width: 18%;
}

aside {
  width: 20%;
}
